* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.container {
    max-width: 1400px;
    margin: 15px auto;
    padding: 0 5%;
}

body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    margin-top: -30px;
}

.jvivo-btn {
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    animation: myframes 0.7s ease-in-out infinite alternate-reverse;
}

@keyframes myframes{
    from {
        outline: 0px solid red;
    }

    to {
        outline: 10px solid rgba(255, 0, 0, 0.521);
    }
}

@keyframes myhover{
    from {
        background-color: red;
        transform: rotate(0deg);
        outline: 0px solid red;
    }

    to {
        background-color: goldenrod;
        transform: rotate(10deg);
        outline: 10px solid rgba(255, 0, 0, 0.521);
    }
}

.jvivo-btn:hover {
    font-size: 33px;
    background-color: goldenrod;
    animation: myhover 0.7s ease-in-out infinite alternate-reverse;
}

nav img {
    height: 50px;
    width: 50px;
    margin-top: -30px;
    transition: 0.6s;
}

nav img:hover {
    height: 50px;
    width: 50px;
    margin-top: -30px;
    border-radius: 100%;
    transform: rotate(360deg);
}

nav ul a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    transition: 0.5s;
}

nav ul a:not(.jvivo-btn):after {
    content: "";
    background-color: gold;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.9s;
}

nav ul a:hover::after {
    color: gold;
    font-size: 25px;
    width: 100%;
}

nav ul a:not(.jvivo-btn):hover {
    color: gold;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .close-icon{
    cursor: pointer;
    display: none;
}

.noticiasbanner .container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -50px;
    color: white;
}

.noticiasbanner h1 {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
}

.noticiasbanner p{
    background-color: rgba(0, 0, 0, 0.521);
    margin: 5px 0px 10px 0px;
    text-align: center;
    padding: 50px 50px;
    font-size: 25px;
}

.noticiasbanner .noticiatxt {
    width: 100%;
    padding: 0 40px;
}

.probleminha{
    border-radius: 100%;
}

/*Celulares*/

@media (max-width: 830px){
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 0, 0, 0.87);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    
    .noticiasbanner .container{
        display: block;
    }
    
    .noticiasbanner .noticiatxt {
        width: 100%;
        margin-left: -40px;
    }
    
    .imgnoticia {
        width: 100%;
    }
    
    
    .menu.open{
        clip-path: circle(141.2% at 100% 0);
    }
    
    .menu a{
        margin: 10px 0;
        font-size: 40px;
    }
    
    nav .menu-icon{
        display: block;
    }  
    
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    } 

    .probleminha{
        width: 400px;
    }
    
    }